* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: auto;
  background-color: #192538;
}

html, body {margin: 0; height: 100%; overflow: hidden}
@media only screen and (max-width: 782px){
  html, body { overflow: auto;}
}

/** Navigation Bar **/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  top: 0;
  width: 100%;

}

nav li a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;

}

.logo {
  color: #edf0f1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
}

.nav-links {
  list-style: none; /* remove bullet points */
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}


.nav-links li a:hover,
.logo:hover {
  color: #0088a9;
}

/** Main section **/
.main-info-section {
  padding: 5% 0% 0% 0%;
  height: 93vh;
}

@media only screen and (max-width: 1200px){
  .main-info-section { height: 120vh; }
}


#quote-container {
  padding: 100px 0px 0px 0px;
  color:white;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.textandpicture {
  padding: 5% 0% 0% 0%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.text {
  padding: 150px 0px 0px 0px;
  cursor: default;
}

@media only screen and (max-width: 1200px){
  .textandpicture { flex-direction: column; padding: 2% 0% 0% 0%;}
}

@media only screen and (max-width: 782px){
  .textandpicture { width: 90%; padding: 1% 0% 0% 0%;}
}

@media only screen and (max-width: 782px){
  .text h1 span { font-size: 50px; }
}

@media only screen and (max-width: 1200px){
  .text { padding: 100px 0px 0px 0px; }
}

@media only screen and (max-width: 782px){
  .text { padding: 50px 0px 0px 0px; }
}

.text h1 {
  color: white;
  font-size: 60px;
}

.text .span {
  display: inline-block;
}

.text p:hover {
  font-size: 30px;
}

span.name {
  color: rgb(112, 177, 189);
}

span.letter:hover {
  color: rgb(112, 177, 189);
}

.text p {
  color:white;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 16px;
}

.textandpicture img {
  width: auto;
  height: 500px;
  align-self: center;
}

@media only screen and (max-width: 1200px){
  .textandpicture img { padding: 50px 0px 0px 0px}
}

.external-links {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: auto;
  list-style: none;
}

.link a{
  text-decoration: none;
  color: white;
}

.link a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 1400px){
  .external-links {flex-direction: column; align-items: center;}
}

/** Games section **/
.game-section {
  width: 35%;
  margin: auto;
  padding: 100px 0px 0px 0px;
  height: 100vh;
  line-height: 1.6;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tab {
    cursor: pointer;
    padding: 0px 10px 0px 0px;
    background-color: #101824
}

.tab.active{
    background-color: #172233;
}

.tab:hover {
    background-color: #1c293d
}

.tab-content h1,
.tab-content p {
    background-color: #172233;
}
#pingPongCanvas {
  background-color: #101824;
}

/** About section **/
.about-section {
  width:  60%;
  margin: auto;
  padding: 100px 0px 0px 0px;
  height: 100vh;
}

@media only screen and (max-width: 1200px){
  .about-section { width: 80%; }
}

@media only screen and (max-width: 782px){
  .about-section { width: 90%;}
}

.about-section h1 {
  font-size: 80px;
  padding: 0px 0px 20px 0px;
  color: #0088a9;
}

@media only screen and (max-width: 1200px){
  .about-section h1{ font-size: 65px; }
}

@media only screen and (max-width: 782px){
  .about-section h1 { font-size: 50px;}
}

.about-section p {
  color: #fff;
  padding: 20px;
}

/** Comments section **/
.comments-section {
  padding: 100px 0px 0px 0px;
  height: 100vh;
  width: 57%;
  margin: auto;
}

@media only screen and (max-width: 1200px){
  .comments-section { width: 77%; }
}

@media only screen and (max-width: 782px){
  .comments-section { width: 83%;}
}

.comments-container {
    color: #ffff;
}

.submission-form input,
.submission-form textarea,
.comments-display input {
    background-color: white;
}

.submission-form button,
.comments-display button {
    background-color: white;
    color: black;
}

.comments-display {
    padding: 50px 0px 0px 0px;
}

.comments-container p {
  padding: 0px 0px 50px 0px;
}

#comment-list {
  padding: 20px 0px 0px 0px;
  list-style: none;
  color: white;  
}