* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #192538;
  font-family: "Montserrat", sans-serif;
}

li, a {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

nav {
  
  background-color: #192538;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: fixed;
  top: 0;
  width: 100%;

}

.logo {
  color: #edf0f1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  cursor: pointer;
}

.nav-links {
  list-style: none; /* remove bullet points */
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}


.nav-links li a:hover,
.logo:hover {
  color: #0088a9
}

.main-info-section {
  background-color: #192538;
  padding: 0px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 93vh;
}

.text {
  cursor: default;
  margin: auto;
}

.text h1 {
  color: #fff;
  font-size: 60px;
}

.text .span {
  display: inline-block;
}

.text p:hover {
  font-size: 30px;
}

span.name {
  color: #0088a9;
}

span.name:hover {
  color: #fff;
}

span.letter:hover {
  color: #0088a9;
}

.text p {
  color: #fff;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 16px;
}

.external-links {
  list-style: none;
}

.external-links li {
  display: inline-block;
  padding: 0px 20px;
}

.external-links li a {
  transition: all 0.3 ease 0s;
}

.external-links li a:hover,
.logo:hover {
  color: #0088a9;
}

.projects-section {
  background-color: #192538;
  padding: 200px 100px 100px 100px;
  text-align: center;
  height: 100vh;
}

#quote-container {
    padding: 100px 0px 0px 0px;
    color: #ffff;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.projects-section p,
.about-section p {
  color: #ffff;

}

.projects-list {
  padding: 100px;
  height: 300px;
}

.project {
  padding: 0px 0px 0px 20px;
  background-color: #1b273a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.projects-section h1,
.about-section h1 {
  text-align: center;
  font-size: 80px;
  padding: 0px 0px 20px 0px;
  letter-spacing: 15px;
  color: #0088a9;
}

.project h2{
  background-color: #1b273a;
  color: #006d88;
}

.project p {
  background-color: #1b273a;
}

img {
  max-width:30%;
  height:auto;
}


.about-section {
  background-color: #192538;
  padding: 100px 100px 100px 100px;
  text-align: center;
  height: 100vh;
}

.about-section h2{
  letter-spacing: 10px;
  color: #0088a9;
  font-size: 40px;
}

.about-section p {
  padding: 30px 50px 20px 50px;
}

.about-section h3{
  padding: 30px;
  letter-spacing: 5px;
  color: #0088a9;
  font-size: 24px;
}